html,body{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: #272C2B ;
}

body div.conteneur{
    color: white;
    font-size: 20px;
}

div.conteneur h1{
    text-align: center;
}