html,body{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: #272C2B ;
}
  
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
  
header .logo{
    font-weight: bolder;
    font-size: 35px;
    color: black;
}
  
header .navbar ul {
    list-style: none;
}
  
header .navbar ul li{
    position: relative;
    float: left;
}
  
header .navbar ul li a{
    font-size: 20px;
    padding: 25px;
    color: black;
    display: block;
}
  
header .navbar ul li a:hover{
    background: black;
    color: white;
}  
  
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}


